{% extends 'base.html'  %}
{% load static %}
{% block content %}

		<!--welcome-hero start -->
			{% include 'hero.html' %}
		<!--welcome-hero end -->

		<!--about start -->
			{% include 'about.html' %}
		<!--about end -->

		<!--education start -->
			{% include 'education.html' %}
		<!--education end -->

		<!--skills start -->
			{% include 'skill.html'  %}
		<!--skills end -->

		<!--experience start -->
			{% include 'experience.html' %}
		<!--experience end -->

		<!--profiles start -->
			{% include 'profile.html' %}
		<!--profiles end -->

		<!--portfolio start -->
			{% include 'portifolio.html'  %}
		<!--portfolio end -->

		<!--clients start -->
			{% include 'clients.html' %}
		<!--clients end -->

		<!--contact start -->
			{% include 'contact.html'  %}
		<!--contact end -->

		<!--footer-copyright start-->
			{% include 'footer.html'  %}
		{% endblock %}

